.custom-input {
  background-color: #18181B; /* bg-zinc-900 */
  color: #ffffff; /* Text color */
  padding-left:""
}

.custom-input::placeholder {
  color: white; /* Optional: placeholder text color */
}
